/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Areas
        2.1 Navigation
        2.2 Header
        2.3 Products
    3. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    overflow-x:hidden;
    font-family: "Poppins", sans-serif;
    background-color: gray;
}

/* ------------------------------- 2. Areas ---------------------------------------- */

/* --------------- 2.3 Products ------------------- */


.shopping-cart-icon {
    width: 32px;
    height: 32px;
}

.shopping-cart-icon > path {
    fill: white;
}



/* ------------------------------- 3. Media Queries -------------------------------- */

@media screen and (max-width: 1200px) {
    main {
        flex-wrap: wrap;
        justify-content: center;
    }

    .product {
        flex-grow: 1;
    }
}